{
    "cluster_os_type": "{{ cluster_os_type }}",
    "cluster_os_version": "{{ cluster_os_version }}",
    "repo_config": "{{ repo_config }}",
    "softwares": [
        {% for software in softwares %}
        {
            "name": "{{ software.name }}",
            {% if software.version is defined %}
            "version": "{{ software.version }}"
            {% else %}
            "version": "default"
            {% endif %}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ],
    {% if bcm_roce in softwares % }
    "bcm_roce": [
        {
            "name": "{{ bcm_roce_libraries.split('-')[0] }}",
            "version": "{{ bcm_roce_libraries.split('-')[1] }}"
        }
    ],
    {% endif %}
    {% if amdgpu in softwares % }
    "amdgpu": [
        {
            "name": "{{ amdgpu_libraries.split('-')[0] }}",
            "version": "{{ amdgpu_libraries.split('-')[1] }}"
        }
    ],
    {% endif %}
    {% if pytorch in softwares % }
    "pytorch": [
        {% for lib in pytorch_dependencies.split(',') %}
        {
            "name": "{{ lib }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ],
    {% endif %}
    {% if tensorflow in softwares % }
    "tensorflow": [
        {% for lib in tensorflow_dependencies.split(',') %}
        {
            "name": "{{ lib }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
    {% endif %}
}
