{
    "cluster_os_type": "{{ cluster_os_type }}",
    "cluster_os_version": "{{ cluster_os_version }}",
    "repo_config": "{{ repo_config }}",
    "softwares": [
        {% for software in softwares %}
        {
            "name": "{{ software.name }}",
            {% if software.version is defined %}
            "version": "{{ software.version }}"
            {% else %}
            "version": "default"
            {% endif %}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
    "amdgpu": [
        {
            "name": "{{ amdgpu_libraries[0] }}",
            "version": "{{ amdgpu_libraries[1] }}"
        }
    ]
    {% if "bcm_roce" in softwares|map(attribute='name') %}
    ,
    "bcm_roce": [
        {
            "name": "{{ bcm_roce_libraries[0] }}",
            "version": "{{ bcm_roce_libraries[1] }}"
        }
    ],
    {% endif %}
    "pytorch": [
        {% for pytorch_dep in pytorch_dependencies %}
        {
            "name": "{{ pytorch_dep }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ],
    "tensorflow": [
        {% for tensorflow_dep in tensorflow_dependencies %}
        {
            "name": "{{ tensorflow_dep }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}