{
    "cluster_os_type": "{{ lookup('ansible.builtin.env', 'os_type') }}",
    "cluster_os_version": "{{ lookup('ansible.builtin.env', 'os_version') }}",
    "repo_config": "partial",
    "softwares": [
    {% for softwarelist in Software_list %}
        {"name": "{{ softwarelist }}"},
    {% endfor %}
     
    ]
}
